*{
    margin: 0;
    padding: 0;
    
}
body{
    margin:0 auto;
    width: 100%;
    height: 100vh;
    padding: 50px;
}
header{
    background-color: #fff;
}
.btn-primary{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border: 0;
    border-radius: 40px;
    background-color: #E02C6D;
    padding: 10px 24px;
}
.section-hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: #3A3A3A;
    font-size: 24px;
    font-weight: 700;
}
.hero ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hero ul li{
    list-style: none;
}
.hero ul li a{
    text-decoration: none;
    margin: 20px;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}
.banner-area{
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.banner-title{
    font-size: 52px;
    font-weight: 700;
    color: #3A3A3A;
    margin-bottom: 20px;
}
.banner-description{
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
    width: 495px;
    margin-bottom: 20px;
}
.banner-conteint{
    width: 580px;
}
/* header style end */
.compeny-logo{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    
}
/* compeny logo end */
.populer-collection-1{
    display: flex;
    margin-top: 50px;
   
    
    
 
    
}
.populer{
    margin: 10px;
}
.populer h3{
    font-size: 28px;
    font-weight: 500;
    color: #18191F;
    margin-bottom: 10px;
}
.populer h4{
    font-size: 24px;
    font-weight: 400;
    color: #18191F;
    margin-bottom: 10px;
}
.populer p{
    font-size: 14px;
    font-weight: 700;
    color: #787885;
    width: 196px;
    margin-bottom: 10px;
}
.populer-head{
    text-align: center;
    font-size: 28px;
   font-weight: 700;
   color: #3A3A3A;
   
  
}
.call{
    display: grid;
    grid-template-columns: auto auto auto;
  
    margin-top: 70px;
    background: #ededed;
    margin-left: 40px;
    width: 100%;
   
}
.populer-img{
    width: 300px;
    height: 256px;
   
}
.collection{
    width: 329px;
    height: 400px;
    background: #fff;
    margin-bottom: 20px;
}
.head{
    text-align: center;
    margin-top: 30px;
    margin-bottom: -40px;
    font-size: 28px;
    font-weight: 600px;
}
.collection-tittle{
   
  
  
}
.feaucher-conteiner{
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
   margin-top: 50px;
   margin-right: 10px;
}
.feature-title{
    font-size: 38px;
    font-weight: 700;
    color: #0A0826;
    margin-bottom: 20px;
}
.feature-description{
    font-size: 16px;
    font-weight: 700;
    color: #6C6C6C;
    width: 500px;
    margin-bottom: 15px;
}
.btn-feature{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border: 0;
    background-color: #E02C6D;
    padding: 10px 24px;
}
.footer-area{
    background: #0A0826;
    height: 239px;
    margin: auto;margin-top: 75px;
}
.footer-conteiner{
    color: #fff;
    text-align: center;
   margin: 30px;
   position: absolute;
   margin: 80px 0px 0px 500px;
    
}
.footer-title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}
.footer-description{
    font-size: 14px;
    font-weight: 700;
    line-height: 2;
  
}